{
  "openapi": "3.1.0",
  "info": {
    "title": "Universal Solver AgentField Control Plane",
    "version": "0.2.7",
    "description": "Authenticated bounded access to the Universal Solver AgentField Control Plane for execution and evidence-first debugging. Recommended debug funnel: health -> bounded discovery -> active/recent executions -> execution status -> bounded details/logs -> correlated workflow run -> node logs only if execution-scoped evidence is insufficient. Debug routes are read-only and log reads are bounded. The native execution-events endpoint is SSE and is intentionally omitted from the GPT Action surface to avoid streaming timeouts."
  },
  "servers": [
    {
      "url": "https://agentfield-actions.srv1904412.hstgr.cloud"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "agentfieldHealth",
        "x-openai-isConsequential": false,
        "summary": "Check AgentField gateway and control-plane health",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/api/v1/discovery/capabilities": {
      "get": {
        "operationId": "discoverAgentfieldCapabilities",
        "x-openai-isConsequential": false,
        "summary": "Discover currently active AgentField agents and reasoners",
        "description": "Discover active agents and reasoners. Request input schemas only for small candidate pages. Execute with <agent_id>.<reasoner_id>; colon-form invocation_target values are metadata only. Paginate with offset.",
        "parameters": [
          {
            "name": "include_input_schema",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 5
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilitiesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/api/v1/execute/async/{reasoner}": {
      "post": {
        "operationId": "executeAgentfieldReasonerAsync",
        "x-openai-isConsequential": true,
        "summary": "Start an asynchronous AgentField reasoner execution",
        "description": "Execute a discovered reasoner as <agent_id>.<reasoner_id>. Do not pass colon-form invocation_target metadata. The input object must follow the selected reasoner's discovered input schema.",
        "parameters": [
          {
            "name": "reasoner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Discovered reasoner target, for example agent.reasoner."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Execution accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteAcceptedResponse"
                }
              }
            }
          },
          "202": {
            "description": "Execution accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or input"
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Reasoner not found or not active"
          }
        }
      }
    },
    "/api/v1/executions/{execution_id}": {
      "get": {
        "operationId": "getAgentfieldExecution",
        "x-openai-isConsequential": false,
        "summary": "Read AgentField execution status and result",
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution state and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Execution not found"
          }
        }
      }
    },
    "/api/ui/v1/executions/{execution_id}/details": {
      "get": {
        "operationId": "getAgentfieldExecutionDebugDetails",
        "x-openai-isConsequential": false,
        "summary": "Read rich execution details from the native AgentField UI API",
        "description": "Read-only debugging view with execution metadata and related state. Prefer this after getAgentfieldExecution when more context is needed.",
        "parameters": [
          {"name":"execution_id","in":"path","required":true,"schema":{"type":"string"}}
        ],
        "responses": {
          "200": {"description":"Execution debug details","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":true}}}},
          "401": {"description":"Missing or invalid bearer token"},
          "404": {"description":"Execution not found"}
        }
      }
    },
    "/api/ui/v1/executions/{execution_id}/logs": {
      "get": {
        "operationId": "getAgentfieldExecutionLogs",
        "x-openai-isConsequential": false,
        "summary": "Read a bounded tail of structured execution logs",
        "description": "Read-only. Start with a small tail and increase only when needed. Logs may contain application data; do not expose secrets in the answer.",
        "parameters": [
          {"name":"execution_id","in":"path","required":true,"schema":{"type":"string"}},
          {"name":"tail","in":"query","required":false,"schema":{"type":"integer","minimum":0,"maximum":200,"default":50}},
          {"name":"levels","in":"query","required":false,"schema":{"type":"string"},"description":"Optional comma-separated log levels."},
          {"name":"sources","in":"query","required":false,"schema":{"type":"string"},"description":"Optional comma-separated log sources."},
          {"name":"q","in":"query","required":false,"schema":{"type":"string","maxLength":200},"description":"Optional text filter."}
        ],
        "responses": {
          "200": {"description":"Structured execution log entries","content":{"application/json":{"schema":{"type":"object","properties":{"entries":{"type":"array","items":{"type":"object","additionalProperties":true}}},"additionalProperties":true}}}},
          "400": {"description":"Invalid or excessive log query"},
          "401": {"description":"Missing or invalid bearer token"}
        }
      }
    },
    "/api/ui/v1/executions/recent": {
      "get": {
        "operationId": "listRecentAgentfieldExecutions",
        "x-openai-isConsequential": false,
        "summary": "List recent executions for debug triage",
        "description": "Read-only starting point when the execution id is unknown. Use a small limit, identify the relevant execution, then pivot to status/events/details/logs.",
        "parameters": [
          {"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},
          {"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0}}
        ],
        "responses": {
          "200": {"description":"Recent executions","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":true}}}},
          "401": {"description":"Missing or invalid bearer token"}
        }
      }
    },
    "/api/ui/v2/workflow-runs": {
      "get": {
        "operationId": "listAgentfieldWorkflowRuns",
        "x-openai-isConsequential": false,
        "summary": "List recent workflow runs for cross-execution triage",
        "description": "Read-only. Use when a user refers to a run/workflow but does not know the execution id.",
        "parameters": [
          {"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}},
          {"name":"page_size","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},
          {"name":"status","in":"query","required":false,"schema":{"type":"string"}},
          {"name":"search","in":"query","required":false,"schema":{"type":"string","maxLength":200}}
        ],
        "responses": {
          "200": {"description":"Workflow runs","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":true}}}},
          "401": {"description":"Missing or invalid bearer token"}
        }
      }
    },
    "/api/ui/v1/nodes/summary": {
      "get": {
        "operationId": "listAgentfieldNodes",
        "x-openai-isConsequential": false,
        "summary": "List AgentField nodes and health for debug routing",
        "description": "Read-only. Use to identify the node hosting a failing reasoner before reading node details or node logs.",
        "responses": {
          "200": {"description":"Node summary","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":true}}}},
          "401": {"description":"Missing or invalid bearer token"}
        }
      }
    },
    "/api/ui/v1/reasoners/all": {
      "get": {
        "operationId": "listAgentfieldReasoners",
        "x-openai-isConsequential": false,
        "summary": "List the native AgentField reasoner inventory",
        "description": "Read-only. Prefer bounded discovery for execution input schemas; use this inventory for diagnostics and node/reasoner correlation.",
        "responses": {
          "200": {"description":"Reasoner inventory","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":true}}}},
          "401": {"description":"Missing or invalid bearer token"}
        }
      }
    },
    "/api/ui/v2/workflow-runs/{run_id}": {
      "get": {
        "operationId": "getAgentfieldWorkflowRun",
        "x-openai-isConsequential": false,
        "summary": "Read a workflow/run detail view for cross-execution correlation",
        "parameters": [
          {"name":"run_id","in":"path","required":true,"schema":{"type":"string"}}
        ],
        "responses": {
          "200": {"description":"Workflow run detail","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":true}}}},
          "401": {"description":"Missing or invalid bearer token"},
          "404": {"description":"Run not found"}
        }
      }
    },
    "/api/ui/v1/nodes/{node_id}/details": {
      "get": {
        "operationId": "getAgentfieldNodeDetails",
        "x-openai-isConsequential": false,
        "summary": "Read AgentField node details and reasoner inventory",
        "parameters": [
          {"name":"node_id","in":"path","required":true,"schema":{"type":"string"}}
        ],
        "responses": {
          "200": {"description":"Node details","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":true}}}},
          "401": {"description":"Missing or invalid bearer token"},
          "404": {"description":"Node not found"}
        }
      }
    },
    "/api/ui/v1/nodes/{node_id}/logs": {
      "get": {
        "operationId": "getAgentfieldNodeLogs",
        "x-openai-isConsequential": false,
        "summary": "Read a bounded tail of node process logs",
        "description": "Read-only fallback for deeper debugging when execution-scoped evidence is insufficient. Start with a small tail. Process logs can contain application data; never expose credentials or secrets.",
        "parameters": [
          {"name":"node_id","in":"path","required":true,"schema":{"type":"string"}},
          {"name":"tail_lines","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":200,"default":50},"description":"Native AgentField node-log parameter: return the last N process log lines."}
        ],
        "responses": {
          "200": {"description":"NDJSON process log stream","content":{"application/x-ndjson":{"schema":{"type":"string"}}}},
          "400": {"description":"Invalid or excessive log query"},
          "401": {"description":"Missing or invalid bearer token"},
          "404": {"description":"Node not found"}
        }
      }
    },
    "/persisted-logs/summary": {
      "get": {
        "operationId": "getAgentfieldPersistedLogsSummary",
        "x-openai-isConsequential": false,
        "summary": "Summarize persisted AgentField logs and installed agents",
        "description": "Read persisted log inventory from the AgentField workforce volume. Works even when agent processes are offline. Output is bounded and credential-like values are redacted.",
        "responses": {
          "200": {"description":"Persisted log summary","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":true}}}},
          "401": {"description":"Missing or invalid bearer token"}
        }
      }
    },
    "/persisted-logs/agents": {
      "get": {
        "operationId": "listAgentfieldPersistedLogAgents",
        "x-openai-isConsequential": false,
        "summary": "List installed AgentField agents with persisted log metadata",
        "description": "Read the persisted AgentField installation registry through the native af CLI. This does not require the corresponding agent process to be online.",
        "responses": {
          "200": {"description":"Persisted AgentField agent inventory","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":true}}}},
          "401": {"description":"Missing or invalid bearer token"}
        }
      }
    },
    "/persisted-logs/agent/{node_id}": {
      "get": {
        "operationId": "getAgentfieldPersistedAgentLogs",
        "x-openai-isConsequential": false,
        "summary": "Read persisted logs for an installed AgentField agent",
        "description": "Read a bounded persisted log tail through native af logs. Use this when a node is offline or its live /agentfield/v1/logs endpoint is unavailable.",
        "parameters": [
          {"name":"node_id","in":"path","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9._-]{1,120}$"}},
          {"name":"tail_lines","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500,"default":100}}
        ],
        "responses": {
          "200": {"description":"Bounded persisted agent logs","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":true}}}},
          "400": {"description":"Invalid agent or tail request"},
          "401": {"description":"Missing or invalid bearer token"},
          "404": {"description":"Persisted agent log not found"},
          "502": {"description":"Native af log reader failed"}
        }
      }
    },
    "/persisted-logs/runlogs": {
      "get": {
        "operationId": "listAgentfieldPersistedRunlogs",
        "x-openai-isConsequential": false,
        "summary": "List persisted AgentField runlog files",
        "description": "List only allowlisted log-like files in the persisted runlogs directory. Arbitrary filesystem paths, config files, PID files and secret directories are not exposed.",
        "responses": {
          "200": {"description":"Persisted runlog file inventory","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer"},"files":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"size_bytes":{"type":"integer"},"mtime":{"type":"integer"}},"additionalProperties":true}}},"additionalProperties":true}}}},
          "401": {"description":"Missing or invalid bearer token"}
        }
      }
    },
    "/persisted-logs/runlog/{name}": {
      "get": {
        "operationId": "getAgentfieldPersistedRunlog",
        "x-openai-isConsequential": false,
        "summary": "Read a bounded tail of one persisted AgentField runlog",
        "description": "Read one allowlisted runlog by filename. Path traversal and non-log file types are rejected. Returned lines are bounded and credential-like values are redacted.",
        "parameters": [
          {"name":"name","in":"path","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9._-]{1,120}$"}},
          {"name":"tail_lines","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500,"default":100}}
        ],
        "responses": {
          "200": {"description":"Bounded persisted runlog tail","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"tail_lines":{"type":"integer"},"size_bytes":{"type":"integer"},"mtime":{"type":"integer"},"lines":{"type":"array","items":{"type":"string"}}},"additionalProperties":true}}}},
          "400": {"description":"Invalid log name or tail request"},
          "401": {"description":"Missing or invalid bearer token"},
          "403": {"description":"Requested file type is not allowed"},
          "404": {"description":"Persisted runlog not found"}
        }
      }
    },
    "/api/v1/executions/active": {
      "get": {
        "operationId": "listActiveAgentfieldExecutions",
        "x-openai-isConsequential": false,
        "summary": "List currently active AgentField executions",
        "responses": {
          "200": {
            "description": "Active executions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveExecutionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Control-plane health status."
          },
          "version": {
            "type": "string",
            "description": "AgentField version when present."
          },
          "timestamp": {
            "type": "string",
            "description": "Server timestamp when present."
          }
        },
        "required": ["status"],
        "additionalProperties": true
      },
      "ReasonerInputSchema": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true
          },
          "required": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Reasoner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "invocation_target": {
            "type": "string",
            "description": "Native AgentField discovery metadata for this reasoner, typically colon-form such as agent:reasoner. Do not pass it directly to execute; construct <agent_id>.<reasoner_id> instead."
          },
          "description": {
            "type": "string"
          },
          "input_schema": {
            "$ref": "#/components/schemas/ReasonerInputSchema"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": true
      },
      "Capability": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string"
          },
          "agent_name": {
            "type": "string"
          },
          "health_status": {
            "type": "string"
          },
          "reasoners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reasoner"
            }
          }
        },
        "additionalProperties": true
      },
      "CapabilitiesResponse": {
        "type": "object",
        "properties": {
          "discovered_at": {
            "type": "string"
          },
          "total_agents": {
            "type": "integer"
          },
          "total_reasoners": {
            "type": "integer"
          },
          "total_skills": {
            "type": "integer"
          },
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {"type": "integer"},
              "offset": {"type": "integer"},
              "has_more": {"type": "boolean"}
            },
            "additionalProperties": true
          },
          "capabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Capability"
            }
          }
        },
        "additionalProperties": true
      },
      "DynamicInput": {
        "type": "object",
        "description": "Reasoner-specific input. Follow the schema returned by discovery.",
        "properties": {},
        "additionalProperties": true
      },
      "WebhookConfig": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secret": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "ExecuteRequest": {
        "type": "object",
        "properties": {
          "input": {
            "$ref": "#/components/schemas/DynamicInput"
          },
          "webhook": {
            "$ref": "#/components/schemas/WebhookConfig"
          }
        },
        "required": ["input"],
        "additionalProperties": false
      },
      "ExecuteAcceptedResponse": {
        "type": "object",
        "properties": {
          "execution_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "queued_at": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ExecutionResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "output": {
            "description": "Reasoner-specific output; shape varies by reasoner."
          }
        },
        "additionalProperties": true
      },
      "ExecutionResponse": {
        "type": "object",
        "properties": {
          "execution_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "reasoner_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/ExecutionResult"
          },
          "error": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "started_at": {
            "type": "string"
          },
          "completed_at": {
            "type": "string"
          },
          "latest_activity": {
            "type": "string"
          },
          "duration_ms": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "ActiveExecutionsResponse": {
        "type": "object",
        "properties": {
          "active_executions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecutionResponse"
            }
          },
          "total_executions": {
            "type": "integer"
          },
          "started_at": {
            "type": "string"
          },
          "latest_activity": {
            "type": "string"
          }
        },
        "additionalProperties": true
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque",
        "description": "Use ACTION_BEARER_SECRET in the GPT Action authentication field. The gateway maps it to its runtime bearer-token environment internally. Never expose or commit the secret value."
      }
    }
  }
}
