{
  "openapi": "3.1.0",
  "info": {
    "title": "Universal Solver AgentField Control Plane",
    "version": "0.2.1",
    "description": "Authenticated bounded access to the Universal Solver AgentField Control Plane for execution and evidence-first debugging. Recommended debug funnel: health -> bounded discovery -> active/recent executions -> execution status/events/details/logs -> correlated workflow run -> node logs only if execution-scoped evidence is insufficient. Debug routes are read-only and log reads are bounded."
  },
  "servers": [
    {
      "url": "https://agentfield-actions.srv1904412.hstgr.cloud"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "agentfieldHealth",
        "summary": "Check AgentField gateway and control-plane health",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/api/v1/discovery/capabilities": {
      "get": {
        "operationId": "discoverAgentfieldCapabilities",
        "summary": "Discover currently active AgentField agents and reasoners",
        "description": "Call this before execution. Keep discovery bounded: default pages omit input schemas. When a candidate reasoner is found, request a small page with include_input_schema=true to obtain its exact input schema. Paginate with offset instead of requesting the full fleet at once.",
        "parameters": [
          {
            "name": "include_input_schema",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 5
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilitiesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/api/v1/execute/async/{reasoner}": {
      "post": {
        "operationId": "executeAgentfieldReasonerAsync",
        "summary": "Start an asynchronous AgentField reasoner execution",
        "description": "Use a reasoner identifier returned by discovery. The input object must follow that reasoner's discovered input schema.",
        "parameters": [
          {
            "name": "reasoner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Discovered reasoner target, for example agent.reasoner."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Execution accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteAcceptedResponse"
                }
              }
            }
          },
          "202": {
            "description": "Execution accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or input"
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Reasoner not found or not active"
          }
        }
      }
    },
    "/api/v1/executions/{execution_id}": {
      "get": {
        "operationId": "getAgentfieldExecution",
        "summary": "Read AgentField execution status and result",
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution state and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Execution not found"
          }
        }
      }
    },
    "/api/v1/executions/{execution_id}/events": {
      "get": {
        "operationId": "getAgentfieldExecutionEvents",
        "summary": "Read structured execution events for debugging",
        "description": "Use after reading execution status to inspect correlated lifecycle and runtime events for one execution.",
        "parameters": [
          {"name":"execution_id","in":"path","required":true,"schema":{"type":"string"}}
        ],
        "responses": {
          "200": {"description":"Execution events","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},
          "401": {"description":"Missing or invalid bearer token"},
          "404": {"description":"Execution not found"}
        }
      }
    },
    "/api/ui/v1/executions/{execution_id}/details": {
      "get": {
        "operationId": "getAgentfieldExecutionDebugDetails",
        "summary": "Read rich execution details from the native AgentField UI API",
        "description": "Read-only debugging view with execution metadata and related state. Prefer this after getAgentfieldExecution when more context is needed.",
        "parameters": [
          {"name":"execution_id","in":"path","required":true,"schema":{"type":"string"}}
        ],
        "responses": {
          "200": {"description":"Execution debug details","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},
          "401": {"description":"Missing or invalid bearer token"},
          "404": {"description":"Execution not found"}
        }
      }
    },
    "/api/ui/v1/executions/{execution_id}/logs": {
      "get": {
        "operationId": "getAgentfieldExecutionLogs",
        "summary": "Read a bounded tail of structured execution logs",
        "description": "Read-only. Start with a small tail and increase only when needed. Logs may contain application data; do not expose secrets in the answer.",
        "parameters": [
          {"name":"execution_id","in":"path","required":true,"schema":{"type":"string"}},
          {"name":"tail","in":"query","required":false,"schema":{"type":"integer","minimum":0,"maximum":200,"default":50}},
          {"name":"levels","in":"query","required":false,"schema":{"type":"string"},"description":"Optional comma-separated log levels."},
          {"name":"sources","in":"query","required":false,"schema":{"type":"string"},"description":"Optional comma-separated log sources."},
          {"name":"q","in":"query","required":false,"schema":{"type":"string","maxLength":200},"description":"Optional text filter."}
        ],
        "responses": {
          "200": {"description":"Structured execution log entries","content":{"application/json":{"schema":{"type":"object","properties":{"entries":{"type":"array","items":{"type":"object","additionalProperties":true}}},"additionalProperties":true}}}},
          "400": {"description":"Invalid or excessive log query"},
          "401": {"description":"Missing or invalid bearer token"}
        }
      }
    },
    "/api/ui/v2/workflow-runs/{run_id}": {
      "get": {
        "operationId": "getAgentfieldWorkflowRun",
        "summary": "Read a workflow/run detail view for cross-execution correlation",
        "parameters": [
          {"name":"run_id","in":"path","required":true,"schema":{"type":"string"}}
        ],
        "responses": {
          "200": {"description":"Workflow run detail","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},
          "401": {"description":"Missing or invalid bearer token"},
          "404": {"description":"Run not found"}
        }
      }
    },
    "/api/ui/v1/nodes/{node_id}/details": {
      "get": {
        "operationId": "getAgentfieldNodeDetails",
        "summary": "Read AgentField node details and reasoner inventory",
        "parameters": [
          {"name":"node_id","in":"path","required":true,"schema":{"type":"string"}}
        ],
        "responses": {
          "200": {"description":"Node details","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},
          "401": {"description":"Missing or invalid bearer token"},
          "404": {"description":"Node not found"}
        }
      }
    },
    "/api/ui/v1/nodes/{node_id}/logs": {
      "get": {
        "operationId": "getAgentfieldNodeLogs",
        "summary": "Read a bounded tail of node process logs",
        "description": "Read-only fallback for deeper debugging when execution-scoped evidence is insufficient. Start with a small tail. Process logs can contain application data; never expose credentials or secrets.",
        "parameters": [
          {"name":"node_id","in":"path","required":true,"schema":{"type":"string"}},
          {"name":"tail","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":200,"default":50}}
        ],
        "responses": {
          "200": {"description":"NDJSON process log stream","content":{"application/x-ndjson":{"schema":{"type":"string"}}}},
          "400": {"description":"Invalid or excessive log query"},
          "401": {"description":"Missing or invalid bearer token"},
          "404": {"description":"Node not found"}
        }
      }
    },
    "/api/v1/executions/active": {
      "get": {
        "operationId": "listActiveAgentfieldExecutions",
        "summary": "List currently active AgentField executions",
        "responses": {
          "200": {
            "description": "Active executions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveExecutionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Control-plane health status."
          },
          "version": {
            "type": "string",
            "description": "AgentField version when present."
          },
          "timestamp": {
            "type": "string",
            "description": "Server timestamp when present."
          }
        },
        "required": ["status"],
        "additionalProperties": true
      },
      "ReasonerInputSchema": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "required": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Reasoner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "input_schema": {
            "$ref": "#/components/schemas/ReasonerInputSchema"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": true
      },
      "Capability": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string"
          },
          "agent_name": {
            "type": "string"
          },
          "health_status": {
            "type": "string"
          },
          "invocation_target": {
            "type": "string"
          },
          "reasoners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reasoner"
            }
          }
        },
        "additionalProperties": true
      },
      "CapabilitiesResponse": {
        "type": "object",
        "properties": {
          "capabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Capability"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "DynamicInput": {
        "type": "object",
        "properties": {},
        "description": "Reasoner-specific input. Follow the schema returned by discovery.",
        "additionalProperties": true
      },
      "WebhookConfig": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secret": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "properties": {},
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "ExecuteRequest": {
        "type": "object",
        "properties": {
          "input": {
            "$ref": "#/components/schemas/DynamicInput"
          },
          "webhook": {
            "$ref": "#/components/schemas/WebhookConfig"
          }
        },
        "required": ["input"],
        "additionalProperties": false
      },
      "ExecuteAcceptedResponse": {
        "type": "object",
        "properties": {
          "execution_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "queued_at": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ExecutionResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "output": {}
        },
        "additionalProperties": true
      },
      "ExecutionResponse": {
        "type": "object",
        "properties": {
          "execution_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "reasoner_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/ExecutionResult"
          },
          "error": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "started_at": {
            "type": "string"
          },
          "completed_at": {
            "type": "string"
          },
          "latest_activity": {
            "type": "string"
          },
          "duration_ms": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "ActiveExecutionsResponse": {
        "type": "object",
        "properties": {
          "active_executions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecutionResponse"
            }
          },
          "total_executions": {
            "type": "integer"
          },
          "started_at": {
            "type": "string"
          },
          "latest_activity": {
            "type": "string"
          }
        },
        "additionalProperties": true
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque",
        "description": "Use ACTION_BEARER_SECRET in the GPT Action authentication field. The gateway maps it to its runtime bearer-token environment internally. Never expose or commit the secret value."
      }
    }
  }
}
