{
  "openapi": "3.1.0",
  "info": {
    "title": "Universal Solver AgentField Control Plane",
    "version": "0.1.1",
    "description": "Authenticated bounded access to the Universal Solver AgentField Control Plane. Discover active agents/reasoners, start asynchronous executions, and poll execution state."
  },
  "servers": [
    {
      "url": "https://agentfield-actions.srv1904412.hstgr.cloud"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "agentfieldHealth",
        "summary": "Check AgentField gateway and control-plane health",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/api/v1/discovery/capabilities": {
      "get": {
        "operationId": "discoverAgentfieldCapabilities",
        "summary": "Discover currently active AgentField agents and reasoners",
        "description": "Call this before execution. Set include_input_schema=true to obtain reasoner input schemas.",
        "parameters": [
          {
            "name": "include_input_schema",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilitiesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/api/v1/execute/async/{reasoner}": {
      "post": {
        "operationId": "executeAgentfieldReasonerAsync",
        "summary": "Start an asynchronous AgentField reasoner execution",
        "description": "Use a reasoner identifier returned by discovery. The input object must follow that reasoner's discovered input schema.",
        "parameters": [
          {
            "name": "reasoner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Discovered reasoner target, for example agent.reasoner."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Execution accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteAcceptedResponse"
                }
              }
            }
          },
          "202": {
            "description": "Execution accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or input"
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Reasoner not found or not active"
          }
        }
      }
    },
    "/api/v1/executions/{execution_id}": {
      "get": {
        "operationId": "getAgentfieldExecution",
        "summary": "Read AgentField execution status and result",
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution state and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Execution not found"
          }
        }
      }
    },
    "/api/v1/executions/active": {
      "get": {
        "operationId": "listActiveAgentfieldExecutions",
        "summary": "List currently active AgentField executions",
        "responses": {
          "200": {
            "description": "Active executions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveExecutionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Control-plane health status."
          },
          "version": {
            "type": "string",
            "description": "AgentField version when present."
          },
          "timestamp": {
            "type": "string",
            "description": "Server timestamp when present."
          }
        },
        "required": ["status"],
        "additionalProperties": true
      },
      "ReasonerInputSchema": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "required": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Reasoner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "input_schema": {
            "$ref": "#/components/schemas/ReasonerInputSchema"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": true
      },
      "Capability": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string"
          },
          "agent_name": {
            "type": "string"
          },
          "health_status": {
            "type": "string"
          },
          "invocation_target": {
            "type": "string"
          },
          "reasoners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reasoner"
            }
          }
        },
        "additionalProperties": true
      },
      "CapabilitiesResponse": {
        "type": "object",
        "properties": {
          "capabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Capability"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "DynamicInput": {
        "type": "object",
        "properties": {},
        "description": "Reasoner-specific input. Follow the schema returned by discovery.",
        "additionalProperties": true
      },
      "WebhookConfig": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secret": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "properties": {},
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "ExecuteRequest": {
        "type": "object",
        "properties": {
          "input": {
            "$ref": "#/components/schemas/DynamicInput"
          },
          "webhook": {
            "$ref": "#/components/schemas/WebhookConfig"
          }
        },
        "required": ["input"],
        "additionalProperties": false
      },
      "ExecuteAcceptedResponse": {
        "type": "object",
        "properties": {
          "execution_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "queued_at": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ExecutionResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "output": {}
        },
        "additionalProperties": true
      },
      "ExecutionResponse": {
        "type": "object",
        "properties": {
          "execution_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "reasoner_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/ExecutionResult"
          },
          "error": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "started_at": {
            "type": "string"
          },
          "completed_at": {
            "type": "string"
          },
          "latest_activity": {
            "type": "string"
          },
          "duration_ms": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "ActiveExecutionsResponse": {
        "type": "object",
        "properties": {
          "active_executions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecutionResponse"
            }
          },
          "total_executions": {
            "type": "integer"
          },
          "started_at": {
            "type": "string"
          },
          "latest_activity": {
            "type": "string"
          }
        },
        "additionalProperties": true
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque",
        "description": "Use ACTION_BEARER_SECRET in the GPT Action authentication field. The gateway maps it to its runtime bearer-token environment internally. Never expose or commit the secret value."
      }
    }
  }
}
