{"openapi":"3.1.0","info":{"title":"GPT Coding Station API","version":"0.4.0-wave4","description":"Bounded coding environment for GPT Actions: repository sessions, semantic read/search/patch/check operations, sandboxed command execution, managed sessions, and GitHub App-backed publication to station session branches and pull requests. No merge, release, or deployment capability is exposed."},"servers":[{"url":"https://coding-actions.srv1904412.hstgr.cloud","description":"GPT Coding Station public API"}],"paths":{"/health":{"get":{"operationId":"stationHealth","summary":"Health check","responses":{"200":{"description":"Service is healthy","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/ready":{"get":{"operationId":"stationReady","summary":"Readiness and GitHub App configuration check","responses":{"200":{"description":"Service is ready","content":{"application/json":{"schema":{"type":"object"}}}},"503":{"description":"Service is not ready"}}}},"/version":{"get":{"operationId":"stationVersion","summary":"Read service version","responses":{"200":{"description":"Version","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v1/repositories":{"get":{"operationId":"listRepositories","summary":"List repository ids allowed by Coding Station","security":[{"ActionBearerAuth":[]}],"responses":{"200":{"description":"Repository allowlist","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/repo-sessions":{"post":{"operationId":"createRepoSession","summary":"Create an isolated repository session at an exact base commit","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRepoSessionRequest"}}}},"responses":{"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Repository session created","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v1/repo-sessions/gc":{"post":{"operationId":"gcRepoSessions","summary":"Garbage-collect closed repository-session metadata","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcRepoSessionsRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/repo-sessions/{session_id}":{"get":{"operationId":"getRepoSession","summary":"Read repository-session state","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Repository session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositorySession"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/repo-sessions/{session_id}/close":{"post":{"operationId":"closeRepoSession","summary":"Close a repository session","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloseRepoSessionRequest"}}}},"responses":{"200":{"description":"Repository session closed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositorySession"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/repo-sessions/{session_id}/files/read":{"post":{"operationId":"readRepoFile","summary":"Read a bounded UTF-8 file range with SHA-256 evidence","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadFileRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/repo-sessions/{session_id}/search":{"post":{"operationId":"searchRepoCode","summary":"Search code inside one repository session","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchCodeRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/repo-sessions/{session_id}/patch":{"post":{"operationId":"applyRepoPatch","summary":"Apply a stale-safe one-file patch and return readback evidence","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplyPatchRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/repo-sessions/{session_id}/checks":{"post":{"operationId":"runRepoChecks","summary":"Run a server-owned validation preset","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunChecksRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/repo-sessions/{session_id}/publication/fetch":{"post":{"operationId":"publicationFetch","summary":"Fetch the GitHub remote with a short-lived server-owned GitHub App credential","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicationFetchRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/repo-sessions/{session_id}/publication/publish":{"post":{"operationId":"publicationPublish","summary":"Commit changes, push only the session branch, and open or update its pull request","description":"This operation cannot merge, release, deploy, force-push, or push the default/protected branch.","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicationPublishRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/exec/run":{"post":{"operationId":"execRun","summary":"Run a bounded argv command","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/sessions":{"post":{"operationId":"startManagedSession","summary":"Start a bounded managed non-TTY process","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagedSessionStartRequest"}}}},"responses":{"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Managed session created","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v1/sessions/{session_id}":{"get":{"operationId":"getManagedSession","summary":"Read managed process state","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/sessions/{session_id}/output":{"get":{"operationId":"readManagedSessionOutput","summary":"Read bounded managed-process stdout/stderr chunks","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"after_seq","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0}},{"name":"limit_bytes","in":"query","required":false,"schema":{"type":"integer","minimum":256,"maximum":262144,"default":65536}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/sessions/{session_id}/input":{"post":{"operationId":"writeManagedSessionInput","summary":"Write a bounded stdin chunk to a running managed process","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagedSessionInputRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/sessions/{session_id}/terminate":{"post":{"operationId":"terminateManagedSession","summary":"Terminate a managed process","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Managed process terminated","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid Bearer token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Operation not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"State or concurrency conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"securitySchemes":{"ActionBearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"opaque"}},"schemas":{"ErrorResponse":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"}}},"RepositorySession":{"type":"object","properties":{"session_id":{"type":"string"},"state":{"type":"string"},"repository":{"type":"string"},"remote":{"type":"string","format":"uri"},"base_sha":{"type":"string"},"branch":{"type":"string"},"workspace":{"type":"string"},"head_sha":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"closed_at":{"type":["string","null"]}}},"CreateRepoSessionRequest":{"type":"object","additionalProperties":false,"required":["repository","base_sha"],"properties":{"repository":{"type":"string","description":"Server allowlisted repository id, for example gpt-coding-station."},"base_sha":{"type":"string","pattern":"^[0-9a-fA-F]{40}([0-9a-fA-F]{24})?$","description":"Exact full commit SHA reachable from an origin branch."}}},"CloseRepoSessionRequest":{"type":"object","additionalProperties":false,"properties":{"discard":{"type":"boolean","default":false}}},"GcRepoSessionsRequest":{"type":"object","additionalProperties":false,"properties":{"limit":{"type":"integer","minimum":1,"maximum":100,"default":20}}},"ReadFileRequest":{"type":"object","additionalProperties":false,"required":["path"],"properties":{"path":{"type":"string","description":"Relative path inside the repository session workspace."},"start_line":{"type":"integer","minimum":1,"default":1},"line_count":{"type":"integer","minimum":1,"maximum":200,"default":200}}},"SearchCodeRequest":{"type":"object","additionalProperties":false,"required":["query"],"properties":{"query":{"type":"string","minLength":1,"maxLength":256},"path":{"type":"string","description":"Optional relative file or directory path. Use . for repository root."},"max_results":{"type":"integer","minimum":1,"maximum":50,"default":20}}},"ApplyPatchRequest":{"type":"object","additionalProperties":false,"required":["path","expected_sha","patch"],"properties":{"path":{"type":"string","description":"Existing relative UTF-8 file path. Create/delete/rename/mode/binary patches are not supported."},"expected_sha":{"type":"string","pattern":"^[a-f0-9]{64}$","description":"SHA-256 of the file content returned by readRepoFile."},"patch":{"type":"string","maxLength":12000,"description":"Unified git diff modifying only the requested existing file."}}},"RunChecksRequest":{"type":"object","additionalProperties":false,"required":["preset"],"properties":{"preset":{"type":"string","description":"Server-configured check preset id, such as node-check or git-diff-check."},"path":{"type":"string","description":"Optional relative path when required by the preset."}}},"ExecRequest":{"type":"object","additionalProperties":false,"required":["cmd"],"properties":{"cmd":{"type":"array","minItems":1,"maxItems":32,"items":{"type":"string","minLength":1,"maxLength":2048},"description":"Command argv. No shell string is implied."},"cwd":{"type":"string","description":"Relative working directory. Repository work should use repo_session_id."},"repo_session_id":{"type":"string","description":"Repository session id. Commands in repository sessions are filesystem-sandboxed."},"timeout_ms":{"type":"integer","minimum":100,"maximum":120000},"max_output_bytes":{"type":"integer","minimum":1024,"maximum":1048576}}},"ManagedSessionStartRequest":{"type":"object","additionalProperties":false,"required":["cmd"],"properties":{"cmd":{"type":"array","minItems":1,"maxItems":32,"items":{"type":"string","minLength":1,"maxLength":2048}},"cwd":{"type":"string"},"repo_session_id":{"type":"string"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":1800000},"max_output_bytes":{"type":"integer","minimum":1024,"maximum":1048576}}},"ManagedSessionInputRequest":{"type":"object","additionalProperties":false,"properties":{"data":{"type":"string","description":"UTF-8 stdin chunk. Supply exactly one of data or data_base64."},"data_base64":{"type":"string","description":"Base64 stdin chunk. Supply exactly one of data or data_base64."},"close":{"type":"boolean","default":false}},"oneOf":[{"required":["data"]},{"required":["data_base64"]}]},"PublicationFetchRequest":{"type":"object","additionalProperties":false,"description":"Empty object. GitHub App credential is injected server-side."},"PublicationPublishRequest":{"type":"object","additionalProperties":false,"properties":{"message":{"type":"string","maxLength":2048,"description":"Commit message."},"title":{"type":"string","maxLength":512,"description":"Pull request title."},"body":{"type":"string","maxLength":16384,"description":"Pull request body."},"draft":{"type":"boolean","default":false}}}}}}