{"openapi":"3.1.0","info":{"title":"GPT Coding Station API","version":"0.5.0-project-runtime","description":"Bounded coding environment for repository sessions, sandboxed execution, managed sessions, GitHub publication, dynamic toolchains and declarative project-runtime inspect/prepare. No merge, release or deployment capability is exposed."},"servers":[{"url":"https://coding-actions.srv1904412.hstgr.cloud"}],"paths":{"/health":{"get":{"operationId":"stationHealth","summary":"Health check","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/ready":{"get":{"operationId":"stationReady","summary":"Readiness check","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/version":{"get":{"operationId":"stationVersion","summary":"Read service version","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/repositories":{"get":{"operationId":"listRepositories","summary":"List allowlisted repositories","security":[{"ActionBearerAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/repo-sessions":{"post":{"operationId":"createRepoSession","summary":"Create isolated repository session","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRepoSessionRequest"}}}},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/repo-sessions/gc":{"post":{"operationId":"gcRepoSessions","summary":"Garbage-collect closed repository sessions","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcRepoSessionsRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/repo-sessions/{session_id}":{"get":{"operationId":"getRepoSession","summary":"Read repository session","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositorySession"}}}}}}},"/v1/repo-sessions/{session_id}/close":{"post":{"operationId":"closeRepoSession","summary":"Close repository session","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloseRepoSessionRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositorySession"}}}}}}},"/v1/repo-sessions/{session_id}/files/read":{"post":{"operationId":"readRepoFile","summary":"Read bounded UTF-8 file range","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadFileRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/repo-sessions/{session_id}/search":{"post":{"operationId":"searchRepoCode","summary":"Search repository session","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchCodeRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/repo-sessions/{session_id}/patch":{"post":{"operationId":"applyRepoPatch","summary":"Apply stale-safe one-file patch","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplyPatchRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/repo-sessions/{session_id}/checks":{"post":{"operationId":"runRepoChecks","summary":"Run server-owned validation preset","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunChecksRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/repo-sessions/{session_id}/runtime/inspect":{"get":{"operationId":"inspectProjectRuntime","summary":"Inspect .station/runtime.yaml","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/repo-sessions/{session_id}/runtime/prepare":{"post":{"operationId":"prepareProjectRuntime","summary":"Prepare declared project runtime","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/repo-sessions/{session_id}/publication/fetch":{"post":{"operationId":"publicationFetch","summary":"Fetch GitHub remote with server-owned credential","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/repo-sessions/{session_id}/publication/publish":{"post":{"operationId":"publicationPublish","summary":"Commit, push session branch and open/update PR","description":"Cannot merge, release, deploy, force-push, or push default/protected branch.","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicationPublishRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/exec/run":{"post":{"operationId":"execRun","summary":"Run bounded argv command","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/sessions":{"post":{"operationId":"startManagedSession","summary":"Start managed non-TTY process","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagedSessionStartRequest"}}}},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/sessions/{session_id}":{"get":{"operationId":"getManagedSession","summary":"Read managed process state","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/sessions/{session_id}/output":{"get":{"operationId":"readManagedSessionOutput","summary":"Read managed process output","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"after_seq","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0}},{"name":"limit_bytes","in":"query","required":false,"schema":{"type":"integer","minimum":256,"maximum":262144,"default":65536}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/sessions/{session_id}/input":{"post":{"operationId":"writeManagedSessionInput","summary":"Write managed process stdin","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagedSessionInputRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}},"/v1/sessions/{session_id}/terminate":{"post":{"operationId":"terminateManagedSession","summary":"Terminate managed process","security":[{"ActionBearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericObjectResponse"}}}}}}}},"components":{"securitySchemes":{"ActionBearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"opaque"}},"schemas":{"ErrorResponse":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"}}},"RepositorySession":{"type":"object","properties":{"session_id":{"type":"string"},"state":{"type":"string"},"repository":{"type":"string"},"remote":{"type":"string","format":"uri"},"base_sha":{"type":"string"},"branch":{"type":"string"},"workspace":{"type":"string"},"head_sha":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"closed_at":{"type":["string","null"]}}},"CreateRepoSessionRequest":{"type":"object","additionalProperties":false,"required":["repository","base_sha"],"properties":{"repository":{"type":"string","description":"Server allowlisted repository id."},"base_sha":{"type":"string","pattern":"^[0-9a-fA-F]{40}([0-9a-fA-F]{24})?$","description":"Exact full commit SHA reachable from an origin branch."}}},"CloseRepoSessionRequest":{"type":"object","additionalProperties":false,"properties":{"discard":{"type":"boolean","default":false}}},"GcRepoSessionsRequest":{"type":"object","additionalProperties":false,"properties":{"limit":{"type":"integer","minimum":1,"maximum":100,"default":20}}},"ReadFileRequest":{"type":"object","additionalProperties":false,"required":["path"],"properties":{"path":{"type":"string"},"start_line":{"type":"integer","minimum":1,"default":1},"line_count":{"type":"integer","minimum":1,"maximum":200,"default":200}}},"SearchCodeRequest":{"type":"object","additionalProperties":false,"required":["query"],"properties":{"query":{"type":"string","minLength":1,"maxLength":256},"path":{"type":"string"},"max_results":{"type":"integer","minimum":1,"maximum":50,"default":20}}},"ApplyPatchRequest":{"type":"object","additionalProperties":false,"required":["path","expected_sha","patch"],"properties":{"path":{"type":"string"},"expected_sha":{"type":"string","pattern":"^[a-f0-9]{64}$"},"patch":{"type":"string","maxLength":12000}}},"RunChecksRequest":{"type":"object","additionalProperties":false,"required":["preset"],"properties":{"preset":{"type":"string"},"path":{"type":"string"}}},"ExecRequest":{"type":"object","additionalProperties":false,"required":["cmd"],"properties":{"cmd":{"type":"array","minItems":1,"maxItems":32,"items":{"type":"string","minLength":1,"maxLength":2048}},"cwd":{"type":"string"},"repo_session_id":{"type":"string"},"timeout_ms":{"type":"integer","minimum":100,"maximum":120000},"max_output_bytes":{"type":"integer","minimum":1024,"maximum":1048576}}},"ManagedSessionStartRequest":{"type":"object","additionalProperties":false,"required":["cmd"],"properties":{"cmd":{"type":"array","minItems":1,"maxItems":32,"items":{"type":"string","minLength":1,"maxLength":2048}},"cwd":{"type":"string"},"repo_session_id":{"type":"string"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":1800000},"max_output_bytes":{"type":"integer","minimum":1024,"maximum":1048576}}},"ManagedSessionInputRequest":{"type":"object","additionalProperties":false,"properties":{"data":{"type":"string"},"data_base64":{"type":"string"},"close":{"type":"boolean","default":false}},"oneOf":[{"required":["data"]},{"required":["data_base64"]}]},"PublicationPublishRequest":{"type":"object","additionalProperties":false,"properties":{"message":{"type":"string","maxLength":2048},"title":{"type":"string","maxLength":512},"body":{"type":"string","maxLength":16384},"draft":{"type":"boolean","default":false},"base":{"type":"string","minLength":1,"maxLength":512,"description":"Optional existing GitHub branch to use as the PR base. Omit to use the repository default branch."}}},"GenericObjectResponse":{"type":"object","additionalProperties":true,"properties":{"status":{"type":"string"}}}}}}