{
  "openapi": "3.1.0",
  "info": {
    "title": "LAN Ops Broker",
    "version": "0.2.0",
    "description": "Authenticated LAN Ops operator plane over a private Edge. It exposes bounded one-shot Windows command execution and managed terminal sessions in addition to LAN discovery. The native Runner remains localhost-only behind Broker -> WireGuard -> Edge -> Runner."
  },
  "servers": [
    {
      "url": "https://lan-ops.srv1904412.hstgr.cloud"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "operationId": "getLanOpsHealth",
        "summary": "Check LAN Ops broker and edge availability.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "Health state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/v1/networks": {
      "get": {
        "operationId": "listLanNetworks",
        "summary": "List sanitized local network handles available on the edge.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "Local network handles without raw CIDRs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "networks"
                  ],
                  "properties": {
                    "networks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Network"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/resources": {
      "get": {
        "operationId": "listLanResources",
        "summary": "List previously discovered sanitized LAN resources.",
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "network_id",
            "in": "query",
            "required": false,
            "description": "Optional opaque network handle returned by listLanNetworks.",
            "schema": {
              "type": "string",
              "pattern": "^net_[0-9a-f]{12}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized resources.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "resources"
                  ],
                  "properties": {
                    "resources": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Resource"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/leases": {
      "post": {
        "operationId": "createLanDiscoveryLease",
        "summary": "Create a temporary read-only network discovery lease.",
        "description": "Grants only network.discovery for one opaque local network handle for at most 30 minutes.",
        "x-openai-isConsequential": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaseCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Active time-limited lease.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lease"
                }
              }
            }
          }
        }
      }
    },
    "/v1/leases/{lease_id}": {
      "delete": {
        "operationId": "revokeLanDiscoveryLease",
        "summary": "Revoke a LAN discovery lease immediately.",
        "x-openai-isConsequential": true,
        "parameters": [
          {
            "name": "lease_id",
            "in": "path",
            "required": true,
            "description": "Lease identifier returned by createLanDiscoveryLease.",
            "schema": {
              "type": "string",
              "pattern": "^lease_[0-9a-f]{16}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked lease.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "lease_id",
                    "status"
                  ],
                  "properties": {
                    "lease_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "REVOKED"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/discovery": {
      "post": {
        "operationId": "startLanDiscovery",
        "summary": "Start bounded read-only discovery using an active lease.",
        "description": "Starts asynchronous local discovery. The caller cannot provide a raw CIDR or shell command.",
        "x-openai-isConsequential": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "lease_id"
                ],
                "additionalProperties": false,
                "properties": {
                  "lease_id": {
                    "type": "string",
                    "pattern": "^lease_[0-9a-f]{16}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Discovery job queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAccepted"
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{job_id}": {
      "get": {
        "operationId": "getLanJobStatus",
        "summary": "Read a LAN discovery job state and safe result count.",
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "Job identifier returned by startLanDiscovery.",
            "schema": {
              "type": "string",
              "pattern": "^job_[0-9a-f]{16}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current job state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      }
    },
    "/v1/exec": {
      "post": {
        "operationId": "runLanCommand",
        "summary": "Run one bounded command on the selected Windows Runner.",
        "description": "Executes argv directly on the native Personal Edge Runner and returns bounded stdout, stderr, exit code, duration, timeout and truncation state.",
        "x-openai-isConsequential": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command completed or timed out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions": {
      "post": {
        "operationId": "startLanTerminalSession",
        "summary": "Start a managed terminal process on the Windows Runner.",
        "x-openai-isConsequential": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionStart"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session started.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionState"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{session_id}": {
      "get": {
        "operationId": "getLanTerminalSession",
        "summary": "Read managed terminal session state.",
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "Managed terminal session identifier returned by startLanTerminalSession.",
            "schema": {
              "type": "string",
              "pattern": "^sess_[A-Za-z0-9]{8,64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionState"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{session_id}/read": {
      "get": {
        "operationId": "readLanTerminalSession",
        "summary": "Read bounded stdout and stderr chunks from a managed terminal session.",
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "name": "after_seq",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit_bytes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 2048,
              "maximum": 65536,
              "default": 8192
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session output chunks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionRead"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{session_id}/write": {
      "post": {
        "operationId": "writeLanTerminalSession",
        "summary": "Write UTF-8 or base64 stdin to a running managed terminal session.",
        "x-openai-isConsequential": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted input size and session state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionWriteResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{session_id}/terminate": {
      "post": {
        "operationId": "terminateLanTerminalSession",
        "summary": "Terminate a managed terminal session.",
        "x-openai-isConsequential": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Terminated session state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionState"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "SessionId": {
        "name": "session_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^sess_[A-Za-z0-9]{8,64}$"
        }
      }
    },
    "schemas": {
      "ExecRequest": {
        "type": "object",
        "required": ["cmd"],
        "additionalProperties": false,
        "properties": {
          "cmd": {
            "type": "array",
            "minItems": 1,
            "maxItems": 32,
            "description": "Command argv. The first item is the executable; no implicit shell is added.",
            "items": {"type": "string", "maxLength": 2048}
          },
          "working_dir": {"type": "string", "maxLength": 512},
          "timeout_ms": {"type": "integer", "minimum": 100, "maximum": 120000, "default": 30000}
        }
      },
      "ExecResult": {
        "type": "object",
        "required": ["status", "stdout", "stderr", "duration_ms", "timed_out", "truncated"],
        "properties": {
          "status": {"type": "string", "enum": ["completed", "timeout"]},
          "exit_code": {"type": ["integer", "null"]},
          "stdout": {"type": "string"},
          "stderr": {"type": "string"},
          "duration_ms": {"type": "integer", "minimum": 0},
          "timed_out": {"type": "boolean"},
          "truncated": {"type": "boolean"}
        }
      },
      "SessionStart": {
        "type": "object",
        "required": ["cmd"],
        "additionalProperties": false,
        "properties": {
          "cmd": {
            "type": "array",
            "minItems": 1,
            "maxItems": 32,
            "items": {"type": "string", "maxLength": 2048}
          },
          "working_dir": {"type": "string", "maxLength": 512}
        }
      },
      "SessionState": {
        "type": "object",
        "required": ["session_id", "status", "running", "created_at", "updated_at", "next_seq", "truncated", "dropped_before_seq"],
        "properties": {
          "session_id": {"type": "string", "pattern": "^sess_[A-Za-z0-9]{8,64}$"},
          "status": {"type": "string", "enum": ["running", "completed", "terminated"]},
          "running": {"type": "boolean"},
          "exit_code": {"type": ["integer", "null"]},
          "created_at": {"type": "integer"},
          "updated_at": {"type": "integer"},
          "next_seq": {"type": "integer", "minimum": 0},
          "truncated": {"type": "boolean"},
          "dropped_before_seq": {"type": "integer", "minimum": 0}
        }
      },
      "SessionChunk": {
        "type": "object",
        "required": ["seq", "stream", "data"],
        "properties": {
          "seq": {"type": "integer", "minimum": 1},
          "stream": {"type": "string", "enum": ["stdout", "stderr"]},
          "data": {"type": "string"}
        }
      },
      "SessionRead": {
        "type": "object",
        "required": ["session_id", "status", "running", "created_at", "updated_at", "next_seq", "truncated", "dropped_before_seq", "chunks", "has_more"],
        "properties": {
          "session_id": {"type": "string"},
          "status": {"type": "string", "enum": ["running", "completed", "terminated"]},
          "running": {"type": "boolean"},
          "exit_code": {"type": ["integer", "null"]},
          "created_at": {"type": "integer"},
          "updated_at": {"type": "integer"},
          "next_seq": {"type": "integer"},
          "truncated": {"type": "boolean"},
          "dropped_before_seq": {"type": "integer"},
          "chunks": {"type": "array", "items": {"$ref": "#/components/schemas/SessionChunk"}},
          "has_more": {"type": "boolean"}
        }
      },
      "SessionWrite": {
        "type": "object",
        "additionalProperties": false,
        "anyOf": [{"required": ["data"]}, {"required": ["data_base64"]}],
        "properties": {
          "data": {"type": "string", "maxLength": 8192, "description": "UTF-8 stdin represented as text."},
          "data_base64": {"type": "string", "maxLength": 16384, "description": "Base64-encoded stdin bytes for non-text input."}
        }
      },
      "SessionWriteResult": {
        "type": "object",
        "required": ["session_id", "accepted_bytes", "status"],
        "properties": {
          "session_id": {"type": "string"},
          "accepted_bytes": {"type": "integer", "minimum": 1},
          "status": {"type": "string"}
        }
      },
      "Health": {
        "type": "object",
        "required": [
          "status",
          "trace_id",
          "edge"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "healthy"
            ]
          },
          "trace_id": {
            "type": "string"
          },
          "edge": {
            "type": "string"
          }
        }
      },
      "Network": {
        "type": "object",
        "required": [
          "network_id",
          "interface",
          "prefix_length",
          "status"
        ],
        "properties": {
          "network_id": {
            "type": "string",
            "pattern": "^net_[0-9a-f]{12}$"
          },
          "interface": {
            "type": "string"
          },
          "prefix_length": {
            "type": "integer",
            "enum": [
              24
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "available"
            ]
          }
        }
      },
      "Resource": {
        "type": "object",
        "required": [
          "resource_id",
          "network_id",
          "kind",
          "vendor",
          "last_seen_at"
        ],
        "properties": {
          "resource_id": {
            "type": "string",
            "pattern": "^res_[0-9a-f]{12}$"
          },
          "network_id": {
            "type": "string",
            "pattern": "^net_[0-9a-f]{12}$"
          },
          "kind": {
            "type": "string",
            "enum": [
              "host",
              "router_candidate"
            ]
          },
          "vendor": {
            "type": "string"
          },
          "last_seen_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LeaseCreate": {
        "type": "object",
        "required": [
          "network_id",
          "ttl_seconds",
          "capabilities",
          "reason"
        ],
        "additionalProperties": false,
        "properties": {
          "network_id": {
            "type": "string",
            "pattern": "^net_[0-9a-f]{12}$"
          },
          "ttl_seconds": {
            "type": "integer",
            "minimum": 60,
            "maximum": 1800,
            "default": 900
          },
          "capabilities": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "items": {
              "type": "string",
              "enum": [
                "network.discovery"
              ]
            }
          },
          "reason": {
            "type": "string",
            "minLength": 3,
            "maxLength": 300
          }
        }
      },
      "Lease": {
        "type": "object",
        "required": [
          "lease_id",
          "network_id",
          "capabilities",
          "issued_at",
          "expires_at",
          "status",
          "trace_id"
        ],
        "properties": {
          "lease_id": {
            "type": "string"
          },
          "network_id": {
            "type": "string"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "issued_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE"
            ]
          },
          "trace_id": {
            "type": "string"
          }
        }
      },
      "JobAccepted": {
        "type": "object",
        "required": [
          "job_id",
          "trace_id",
          "status",
          "network_id"
        ],
        "properties": {
          "job_id": {
            "type": "string"
          },
          "trace_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "QUEUED"
            ]
          },
          "network_id": {
            "type": "string"
          }
        }
      },
      "Job": {
        "type": "object",
        "required": [
          "job_id",
          "trace_id",
          "network_id",
          "status",
          "resource_count"
        ],
        "properties": {
          "job_id": {
            "type": "string"
          },
          "trace_id": {
            "type": "string"
          },
          "network_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "QUEUED",
              "RUNNING",
              "SUCCEEDED",
              "FAILED"
            ]
          },
          "resource_count": {
            "type": "integer",
            "minimum": 0
          },
          "error_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "finished_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      }
    }
  }
}
