{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenClaw Agent Action",
    "description": "Restricted GPT Action contract for sending agent turns to the OpenClaw Gateway and discovering its advertised model.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://openclaw.srv1904412.hstgr.cloud"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List OpenClaw models",
        "description": "Returns the model aliases exposed by the OpenClaw Gateway HTTP compatibility surface.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "Model list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing bearer token"
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "openclawChatSync",
        "summary": "Wait for an OpenClaw chat reply",
        "description": "Synchronous non-streaming agent turn. Use when the work is expected to finish inside the GPT Actions 45-second limit.",
        "x-openai-isConsequential": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "OpenClaw model alias. Use openclaw/default unless the server advertises another alias.",
                    "default": "openclaw/default"
                  },
                  "messages": {
                    "type": "array",
                    "minItems": 1,
                    "description": "Conversation messages supplied to the OpenClaw agent.",
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ],
                          "description": "Message role."
                        },
                        "content": {
                          "type": "string",
                          "description": "Message text."
                        }
                      }
                    }
                  },
                  "user": {
                    "type": "string",
                    "maxLength": 256,
                    "description": "Stable conversation identifier. Reuse it across turns when continuity is required."
                  },
                  "stream": {
                    "type": "boolean",
                    "enum": [
                      false
                    ],
                    "default": false,
                    "description": "Must remain false because GPT Actions should use a normal JSON response rather than SSE."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completed agent turn",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or endpoint not enabled"
          },
          "401": {
            "description": "Invalid or missing bearer token"
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "operationId": "openclawResponseSync",
        "summary": "Wait for an OpenClaw Responses reply",
        "description": "Synchronous OpenResponses turn. Supports user and previous_response_id continuity without custom headers.",
        "x-openai-isConsequential": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": ["input"],
                "properties": {
                  "model": {"type": "string", "default": "openclaw/default", "description": "Agent target alias."},
                  "input": {"type": "string", "minLength": 1, "description": "Current user task or message."},
                  "instructions": {"type": "string", "description": "Additional instructions merged into the system prompt."},
                  "user": {"type": "string", "maxLength": 256, "description": "Stable conversation id used for session routing."},
                  "previous_response_id": {"type": "string", "description": "Previous response id for session continuity."},
                  "stream": {"type": "boolean", "enum": [false], "default": false, "description": "Must remain false for GPT Actions."}
                }
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Final OpenClaw response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}},
          "400": {"description": "Invalid request or endpoint not enabled"},
          "401": {"description": "Invalid or missing bearer token"}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Configure the GPT Action with the OpenClaw Gateway bearer token. Treat it as an owner/operator secret."
      }
    }
  }
}
