{"openapi":"3.1.0","info":{"title":"VPS Terminal","version":"0.6.0","description":"Bounded target-aware terminal, Docker inventory/diagnostics, lifecycle locks, evidence-gated mutation transactions, and live-runtime file API for GPT Actions. Container inventory supports response-budgeted snapshot cursor pagination across running and stopped states. Container execution is bounded argv-only through the guarded Docker path. Runtime file editing is opt-in per logical target, stale-safe by SHA-256, root-bounded, and verified by readback. Coolify mutation itself remains outside VPS Terminal; VPS Terminal supplies locking, baseline, verification, commit and rollback evidence gates. Git publication is not exposed."},"servers":[{"url":"https://vps-terminal.srv1904412.hstgr.cloud"}],"security":[{"Bearer":[]}],"paths":{"/health":{"get":{"operationId":"health","summary":"Check VPS Terminal liveness","security":[],"responses":{"200":{"description":"OK"}}}},"/ready":{"get":{"operationId":"ready","summary":"Check VPS Terminal and Docker readiness","security":[],"responses":{"200":{"description":"OK"},"503":{"description":"Not ready"}}}},"/api/v1/version":{"get":{"operationId":"version","summary":"Read service version information","responses":{"200":{"description":"OK"}}}},"/v1/target/file":{"get":{"operationId":"readTargetFile","summary":"Read a bounded UTF-8 file range from an allowlisted live target root with SHA-256 evidence","parameters":[{"name":"target_id","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":128,"description":"Registered static target id. Live file operations do not accept debug:<uuid> targets."}},{"name":"path","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":512},"description":"Absolute path inside target live_patch_roots."},{"name":"start_line","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}},{"name":"line_count","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":200,"default":120}},{"name":"max_bytes","in":"query","required":false,"schema":{"type":"integer","minimum":256,"maximum":12000,"default":8192}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Live patch not allowed"},"404":{"description":"Not found"},"409":{"description":"Conflict"},"413":{"description":"Too large"}}}},"/v1/target/code/search":{"get":{"operationId":"searchTargetCode","summary":"Search bounded UTF-8 code/text inside allowlisted live target roots","parameters":[{"name":"target_id","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":128,"description":"Registered static target id. Live file operations do not accept debug:<uuid> targets."}},{"name":"query","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":256}},{"name":"path","in":"query","required":false,"schema":{"type":"string","maxLength":512},"description":"Optional absolute directory inside live_patch_roots; defaults to first allowed root."},{"name":"max_results","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":40,"default":20}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Live patch not allowed"},"404":{"description":"Not found"}}}},"/v1/target/file/patch/preview":{"post":{"operationId":"previewTargetPatch","summary":"Preview a stale-safe exact live target file patch without writing","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["target_id","path","expected_sha256","old_text","new_text"],"properties":{"target_id":{"type":"string","minLength":1,"maxLength":128,"description":"Registered static target id. Live file operations do not accept debug:<uuid> targets."},"path":{"type":"string","minLength":1,"maxLength":512,"description":"Absolute target file path inside live_patch_roots."},"expected_sha256":{"type":"string","pattern":"^[0-9a-fA-F]{64}$","description":"SHA-256 returned by readTargetFile. Mismatch fails closed as stale_file."},"old_text":{"type":"string","minLength":1,"maxLength":12000,"description":"Exact text anchor; must occur exactly once."},"new_text":{"type":"string","maxLength":12000}}}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Live patch not allowed"},"404":{"description":"Not found"},"409":{"description":"Stale or ambiguous patch"},"413":{"description":"Too large"}}}},"/v1/target/file/patch":{"post":{"operationId":"applyTargetPatch","summary":"Atomically apply a stale-safe exact live target file patch and verify readback SHA-256","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["target_id","path","expected_sha256","old_text","new_text"],"properties":{"target_id":{"type":"string","minLength":1,"maxLength":128,"description":"Registered static target id. Live file operations do not accept debug:<uuid> targets."},"path":{"type":"string","minLength":1,"maxLength":512,"description":"Absolute target file path inside live_patch_roots."},"expected_sha256":{"type":"string","pattern":"^[0-9a-fA-F]{64}$","description":"SHA-256 returned by readTargetFile. Mismatch fails closed as stale_file."},"old_text":{"type":"string","minLength":1,"maxLength":12000,"description":"Exact text anchor; must occur exactly once."},"new_text":{"type":"string","maxLength":12000}}}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Live patch not allowed"},"404":{"description":"Not found"},"409":{"description":"Stale or ambiguous patch"},"413":{"description":"Too large"},"502":{"description":"Readback verification failed"}}}},"/v1/target/check":{"post":{"operationId":"runTargetCheck","summary":"Run a target-owned validation preset after live editing","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["target_id","preset"],"properties":{"target_id":{"type":"string","minLength":1,"maxLength":128,"description":"Registered static target id. Live file operations do not accept debug:<uuid> targets."},"preset":{"type":"string","enum":["python_compile","node_check","git_diff_check"]},"path":{"type":"string","maxLength":512,"description":"Required for file checks; optional for git_diff_check."}}}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Check not allowed"},"404":{"description":"Not found"}}}},"/v1/target/reload":{"post":{"operationId":"reloadTarget","summary":"Reload an opted-in target using its target-owned preset; current container_restart mode restarts the same resolved container without rebuild/recreate","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["target_id"],"properties":{"target_id":{"type":"string","minLength":1,"maxLength":128,"description":"Registered static target id. Live file operations do not accept debug:<uuid> targets."}}}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Reload not allowed"},"404":{"description":"Not found"},"504":{"description":"Reload timeout"}}}},"/v1/target/logs":{"get":{"operationId":"targetLogs","summary":"Read bounded logs for a registered target","parameters":[{"name":"target_id","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":128,"description":"Registered target id, or debug:<uuid> for an existing debug target."}},{"name":"tail","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":2000,"default":200}},{"name":"since","in":"query","required":false,"schema":{"type":"integer","minimum":0}},{"name":"limit_bytes","in":"query","required":false,"schema":{"type":"integer","minimum":1024,"maximum":262144,"default":65536}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"409":{"description":"Conflict"}}}},"/v1/target/stats":{"get":{"operationId":"targetStats","summary":"Read compact resource stats for a registered target","parameters":[{"name":"target_id","in":"query","required":true,"schema":{"type":"string","minLength":1,"maxLength":128,"description":"Registered target id, or debug:<uuid> for an existing debug target."}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"409":{"description":"Conflict"}}}},"/v1/debug-clones":{"post":{"operationId":"createDebugClone","summary":"Create an isolated TTL-bounded debug clone","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["target_id"],"properties":{"target_id":{"type":"string","minLength":1,"maxLength":128,"description":"Static source target whose capabilities allow debug_clone."},"mounts":{"type":"array","maxItems":8,"items":{"type":"string","maxLength":512},"default":[]}}}}}},"responses":{"201":{"description":"Created"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"409":{"description":"Not allowed"},"429":{"description":"Limit reached"}}}},"/v1/debug-clones/{debugId}":{"get":{"operationId":"getDebugClone","summary":"Inspect a managed debug clone","parameters":[{"name":"debugId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}},"delete":{"operationId":"deleteDebugClone","summary":"Delete a managed debug clone and verify absence","parameters":[{"name":"debugId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}}}},"/v1/containers":{"get":{"operationId":"listContainers","summary":"List running or all containers with bounded snapshot cursor pagination","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":50,"default":12}},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"}},{"name":"all","in":"query","required":false,"schema":{"type":"boolean","default":false},"description":"When true, enumerate containers across all Docker states. Results remain paginated and response-budgeted."},{"name":"status","in":"query","required":false,"schema":{"type":"string"},"description":"Optional container state filter. Use all (or *) as a backward-compatible shortcut for full inventory; combine with a concrete state such as exited to enumerate only that state from the full inventory."},{"name":"label","in":"query","required":false,"schema":{"type":"string"}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v1/containers/{container}":{"get":{"operationId":"inspectContainer","summary":"Read compact redacted container details","parameters":[{"name":"container","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v1/exec/run":{"post":{"operationId":"exec","summary":"Run a bounded command in a registered target","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecRunRequest"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"409":{"description":"Conflict"}}}},"/v1/sessions":{"post":{"operationId":"startSession","summary":"Start a bounded non-TTY session in a registered target","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionStartRequest"}}}},"responses":{"201":{"description":"Created"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Not found"},"409":{"description":"Conflict"}}}},"/v1/sessions/{sessionId}":{"get":{"operationId":"getSession","summary":"Read managed terminal session state","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v1/sessions/{sessionId}/output":{"get":{"operationId":"readSession","summary":"Read bounded stdout/stderr chunks from a managed session","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"after_seq","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0}},{"name":"limit_bytes","in":"query","required":false,"schema":{"type":"integer","minimum":256,"maximum":8192,"default":8192}}],"responses":{"200":{"description":"OK"}}}},"/v1/sessions/{sessionId}/input":{"post":{"operationId":"writeSession","summary":"Write stdin to a running managed session","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionInput"}}}},"responses":{"200":{"description":"OK"}}}},"/v1/sessions/{sessionId}/terminate":{"post":{"operationId":"terminateSession","summary":"Terminate a managed terminal session","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"Command":{"type":"array","minItems":1,"maxItems":32,"items":{"type":"string","maxLength":2048}},"ExecRunRequest":{"type":"object","additionalProperties":false,"required":["target_id","cmd"],"properties":{"target_id":{"type":"string","minLength":1,"maxLength":128,"description":"Registered target id, or debug:<uuid> for an existing debug target."},"cmd":{"$ref":"#/components/schemas/Command"},"working_dir":{"type":"string","maxLength":512},"timeout_ms":{"type":"integer","minimum":100,"maximum":120000,"default":30000}}},"SessionStartRequest":{"type":"object","additionalProperties":false,"required":["target_id","cmd"],"properties":{"target_id":{"type":"string","minLength":1,"maxLength":128,"description":"Registered target id, or debug:<uuid> for an existing debug target."},"cmd":{"$ref":"#/components/schemas/Command"},"working_dir":{"type":"string","maxLength":512}}},"SessionInput":{"type":"object","additionalProperties":false,"properties":{"data":{"type":"string"},"data_base64":{"type":"string"}},"oneOf":[{"required":["data"]},{"required":["data_base64"]}]}},"securitySchemes":{"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"opaque"}}}}