{"openapi":"3.1.0","info":{"title":"VPS Terminal","version":"0.2.0","description":"Bounded VPS terminal API for GPT Actions."},"servers":[{"url":"https://vps-terminal.srv1904412.hstgr.cloud"}],"security":[{"VpsTerminalBearer":[]}],"paths":{"/health":{"get":{"operationId":"vpsTerminalHealth","security":[],"summary":"Check VPS Terminal liveness","responses":{"200":{"description":"Live","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}}}}},"/ready":{"get":{"operationId":"vpsTerminalReady","security":[],"summary":"Check service readiness","responses":{"200":{"description":"Ready state","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}}}}},"/api/v1/version":{"get":{"operationId":"vpsTerminalVersion","summary":"Read service version information","responses":{"200":{"description":"Version","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}}}}},"/v1/containers":{"get":{"operationId":"dockerListContainers","summary":"List running containers using bounded cursor pagination","description":"Returns compact summaries for running containers. Follow page.next_cursor until page.has_more is false.","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":50,"default":12}},{"name":"cursor","in":"query","required":false,"description":"Opaque continuation cursor from the previous page.","schema":{"type":"string"}},{"name":"status","in":"query","required":false,"description":"Optional comma-separated Docker status filters.","schema":{"type":"string"}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"label","in":"query","required":false,"description":"Optional label filter.","schema":{"type":"string"}}],"responses":{"200":{"description":"Bounded page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainerPage"}}}},"400":{"$ref":"#/components/responses/Error"},"409":{"$ref":"#/components/responses/Error"}}}},"/v1/containers/{container}":{"get":{"operationId":"dockerInspectContainer","summary":"Read compact redacted container details","description":"Returns compact redacted container details. Sensitive runtime configuration and raw inspect data are omitted.","parameters":[{"$ref":"#/components/parameters/Container"}],"responses":{"200":{"description":"Compact container detail","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}}}}},"/v1/containers/{container}/exec":{"post":{"operationId":"dockerCreateExec","summary":"Create a detached non-TTY exec","parameters":[{"$ref":"#/components/parameters/Container"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["Cmd"],"properties":{"Cmd":{"type":"array","minItems":1,"maxItems":32,"items":{"type":"string","maxLength":2048}},"WorkingDir":{"type":"string","maxLength":512}}}}}},"responses":{"201":{"description":"Exec created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}}}}}},"400":{"$ref":"#/components/responses/Error"}}}},"/v1/exec/{execId}/start":{"post":{"operationId":"dockerStartExec","summary":"Start an exec in detached non-streaming mode","description":"Exec starts in detached non-streaming mode with TTY disabled.","parameters":[{"$ref":"#/components/parameters/ExecId"}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false}}}},"responses":{"200":{"description":"Started","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}}}}},"/v1/exec/{execId}":{"get":{"operationId":"dockerInspectExec","summary":"Read compact exec status and exit code","parameters":[{"$ref":"#/components/parameters/ExecId"}],"responses":{"200":{"description":"Exec state","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"running":{"type":"boolean"},"exit_code":{"type":["integer","null"]},"container_id":{"type":"string"}}}}}}}}}},"components":{"parameters":{"Container":{"name":"container","in":"path","required":true,"schema":{"type":"string"}},"ExecId":{"name":"execId","in":"path","required":true,"schema":{"type":"string"}}},"schemas":{"ContainerPage":{"type":"object","required":["items","page"],"properties":{"items":{"type":"array","maxItems":50,"items":{"type":"object","additionalProperties":true}},"page":{"type":"object","required":["scope","limit","returned","total","has_more","next_cursor"],"properties":{"scope":{"type":"string","enum":["running"]},"limit":{"type":"integer"},"returned":{"type":"integer"},"total":{"type":"integer"},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}}}},"responses":{"Error":{"description":"Bounded error","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}}},"securitySchemes":{"VpsTerminalBearer":{"type":"http","scheme":"bearer","bearerFormat":"opaque"}}}}
